<!-- NEW: No links -->
<h2 style="margin-bottom: 0;">This Week's Classes</h2>
{% assign sortedRecords = site.data.classes.records | sort: 'fields.date-time' %}
{% for record in sortedRecords %}
{% if record.fields.publish == true | sort: record.fields.date-time %}
<div class="row">
      <div class="8u 12u(small)">
        <h3>{{ record.fields.title }} - {{ record.fields.date-time | date: "%R - %a %-d %b %Y" }}</h3>
      </div>
      <div class="4u 12u(small)" style="text-align: right;">
        <ul class="actions vertical">
          {% if record.fields.patreon == true %}<li><a href="{{ record.fields.link }}" class="button special">Join Class</a></li>{% endif %}
          {% if record.fields.patreon != true %}<li><a href="{{ record.fields.link }}" class="button">Join Class</a></li>{% endif %}
        </ul>
      </div>
    </div>
{% endif %}
{% endfor %}


<!--           <div class="element-item {{ record.fields.category }} box" style="width: 100%; left: 0px; top: 0px; height: auto;">
            <div class="row">
              <span class="image 4u 12u$(small)" style="height:100%; max-width: 35%; display: block; margin-bottom: 0;"><img src="{{ record.fields.image[0].url }}"/></span>
              <div class="right 8u 12u$(small)">
                <h2 style="text-decoration: capitalize; margin-bottom: 0;">
                  {{ record.fields.title }}
                </h2>
                <h4><span style="text-transform: capitalize;">{{ record.fields.category | Titlecase }}</span><br />{{ record.fields.date | date: "%R %A %-d %b %Y" }}<br />{{ record.fields.price }}</h4>
                <p><strong>{{ record.fields.excerpt }}</strong></p>
                <p>{{ record.fields.content }}</p>
                <ul class="actions">
                  {% if record.fields.ticketlink %}<li><a href="{{ record.fields.ticketlink }}" class="button scrolly special">Book Now</a></li>{% endif %}
                  {% if record.fields.streamlink %}<li><a href="{{ record.fields.streamlink }}" class="button scrolly special">Watch Stream</a></li>{% endif %}
                </ul>
              </div>
            </div>
           </div> -->

<!--     <tfoot>
      <tr>
        <td colspan="2"></td>
        <td>100.00</td>
      </tr>
    </tfoot> -->
  </table>
</div>