<!-- NEW: No links -->
<h2 style="margin-bottom: 0;">Classes</h2>
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for post in site.posts limit:site.tiles-count reversed %}
      {% if site.tiles-source == 'posts' %}
      <tr>
        <td>
          <span class="image">
            <img src="{{ post.image }}" alt="{{ post.image-alt }}" />
          </span>
        </td>
        <td><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></td>
        <td><p>{{ post.description }}</p></td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
<!--     <tfoot>
      <tr>
        <td colspan="2"></td>
        <td>100.00</td>
      </tr>
    </tfoot> -->
  </table>
</div>