<div style="position: relative; display: flex; align-items: center; flex-flow: column wrap; justify-content: center; width: 100%;">
  
  <div class="grid row" style="position: relative; display: flex; justify-content:center; align-items: stretch; flex-flow: row wrap; width: 100%;">

    <!-- Live Class -->
    {% assign sortedRecords = site.data.classes.records | sort: 'fields.date-time' %}
    {% for record in sortedRecords %}
    {% capture currentDate %}{{ 'now' | date: '%s'}}{% endcapture %}
    {% capture postDate %}{{ record.fields.date-time | date: '%s'}}{% endcapture %}
    {% if currentDate > postDate %}
    {% continue %}
    {% else %}
    <div class="element-item {{ record.fields.category }} 4u 12u$(medium)" style="padding: 1em">
      <h2>Next Live Class:</h2>
      <div class="box">
        <h2 style="text-decoration: capitalize; margin-bottom: 0;">{{ record.fields.title }}</h2>
        <p>{{ record.fields.category | Titlecase }}<br />{{ record.fields.date-time | date: "%R %A %-d %b %Y" }}<br />{{ record.fields.price }}</p>
        <p>{{ record.fields.content }}</p>
        <ul class="actions vertical">
          <li><a href="/book-class?class_name={{ record.fields.title | replace: ' ','' }}&date={{ record.fields.date-time | date: "%-d-%b-%Y" }}" class="button special">Book Now</a></li>
        </ul>
      </div>
      <span class="image"><img src="{{ record.fields.thumbnail[0].url }}"/></span>
    </div>
    {% endif %}
    {% endfor %}

    <!-- On Demand -->
    {% assign sortedRecords = site.data.classes.records | sort: 'fields.date-time' %}
    {% for record in sortedRecords | limit:1 %}
    {% capture currentDate %}{{ 'now' | date: '%s'}}{% endcapture %}
    {% capture postDate %}{{ record.fields.date-time | date: '%s'}}{% endcapture %}
    {% if currentDate > postDate %}
    <div class="element-item {{ record.fields.category }} 4u 12u$(medium)" style="padding: 1em">
      <h2>Latest On-Demand Class:</h2>
      <div class="box">
        <h2 style="text-decoration: capitalize; margin-bottom: 0;">{{ record.fields.title }}</h2>
        <p>{{ record.fields.category | Titlecase }}<br />{{ record.fields.date-time | date: "%R %A %-d %b %Y" }}<br />{{ record.fields.price }}</p>
        <p>{{ record.fields.content }}</p>
        <ul class="actions vertical">
          
          {% if record.fields.patreon-link %}<li><a href="{{ record.fields.patreon-link }}" class="button special">Watch On-Demand</a></li>{% endif %}
          
        </ul>
      </div>
      <span class="image"><img src="{{ record.fields.thumbnail[0].url }}"/></span>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>